<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="@sake12/my-cordova-plugin-bixolon-printer"
    version="1.0.0">

    <name>BixolonPrint</name>
    <description>Printing on Bixolon print.</description>
    <license>Apache 2.0</license>
    <keywords>cordova,bixolonprint</keywords>

    <author>SimplyMobile</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/bixolonprint.js" name="BixolonPrint">
        <clobbers target="cordova.plugins.bixolonPrint" />
    </js-module>

    <asset src="www/bixolonprint.js" target="bixolonprint.js" />

    <!-- android -->
    <platform name="android">

        <source-file src="src/android/BixolonPrint.java" target-dir="src/it/simplymobile/cordova/plugins/bixolonprint" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BixolonPrint">
                <param name="android-package" value="pl.simplymobile.cordova.plugins.bixolonprint.BixolonPrint" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

            <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
            <uses-feature android:name="android.hardware.wifi" android:required="false" />
        </config-file>

        <source-file src="src/android/libs/BixolonPrinter.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/res/xml/device_filter.xml" target-dir="res/xml"/>
    </platform>

</plugin>
